.container {
  max-width: 960px;
  margin: 40px auto;

  @include media(md, max) {
    margin: 20px auto;
    padding: 0 20px;
  }
}

.video,
.map {
  width: 100%;              /*横幅いっぱいにwidthを指定*/
  padding-bottom: 56.25%;  /*高さをpaddingで指定(16:9)*/
  height: 0px;              /*高さはpaddingで指定するためheightは0に*/
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 90px) / 3));
  gap: 45px;
  margin: 45px 0;

  @include media(md, max) {
    grid-template-columns: repeat(2, calc((100% - 20px) / 2));
    gap: 20px;
    margin: 20px 0;
  }
}

.btn-wrap {
  margin: 20px 0 0;
}

.btn {
  width: fit-content;
  display: block;
  padding: 10px 15px;
  background: $black-color;
  color: $white-color;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }

  &--center {
    margin: auto;
  }
}

.btn--center {
  width: fit-content;
  display: block;
  padding: 10px 15px;
  background: $black-color;
  color: $white-color;
  text-align: center;
  margin: auto;

  &:hover {
    opacity: 0.7;
  }
}


.text {
  margin: 20px 0;
}

.text-link {
  color: $gray-color;

  &:hover {
    opacity: 0.7;
  }
}

.page-nav {
  @include flex(wrap, flex-start, flex-start);
  margin: 20px 0;
}

.image-list {
  &__item {
    margin: 20px 0;
  }
}

.grid {
  @include flex(wrap, space-between, strech);

  @include media(md, max) {
    font-display: column;
  }

  &__col2 {
    width: calc((100% - 40px) / 2);

    @include media(md, max) {
      width: 100%;
    }
  }

  &__col3 {
    width: calc((100% - 80px) / 3);

    @include media(md, max) {
      width: 100%;
    }
  }
}

.markdown {
  > * {
    margin: 20px 0 0;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0;
  filter: blur(5px);
}
