// Breakpoints
// ----------------------------------------

$breakpoints: (
  'sm': 375px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px
) !default;

// Color
// ----------------------------------------

$body-color: #ffffff;
$text-color: #2b2b2b;
$white-color: #ffffff;
$gray-color: #999999;
$black-color: #000000;
$border-color: #cccccc;
$disabled-color: #afafaf;
$primary-color: #E9EFE8;

// Font
// ----------------------------------------
@mixin font-ja {
  font-family: "Istok Web", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin font-en {
  font-family: 'PT Serif Caption', Georgia, Times, "Times New Roman", serif;
}


// Font-size
// ----------------------------------------

$fts-reset: 62.5%;
$fts-x-heading: 4rem;
$fts-heading: 3.0rem;
$fts-xxx-large: 2.4rem;
$fts-xx-large: 2.2rem;
$fts-x-large: 2.0rem;
$fts-large: 1.8rem;
$fts-medium: 1.6rem;
$fts-regular: 1.4rem;
$fts-small: 1.2rem;
$fts-x-small: 1.0rem;

// Easing
// ----------------------------------------

$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease: ease;
